@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
  background-image: url('../../public/bg-sidebar-desktop.svg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}